# Types, Strings, F-Strings

In [1]:
name = 'Kevin'
age = 33
print('Hello World! My name is {} and I am {}'.format(name, age))

Hello World! My name is Kevin and I am 33

In [2]:
# formatted f-strings
name = 'Kevin'
age = 33
print(f'My name is {name} and I am {age}.')

My name is Kevin and I am 33.

In [3]:
print("Hello, Kevin!")

Hello, Kevin!

In [4]:
print("My favorite color is blue")

My favorite color is blue

In [5]:
print("How are you feeling today?")

How are you feeling today?

In [6]:
# Multiline string
print("""Hello, World! It's great to be here!""")

Hello, World! It's great to be here!

In [7]:
print("""Hello, World! 
It's great to be here!""")

Hello, World!
It's great to be here!

In [8]:
print("""Hello, World! \nIt's great to be here!""")

Hello, World!
It's great to be here!

In [9]:
# Type function
type("Hello, World!")

str

In [10]:
type(10.0)

float

In [11]:
type(1)

int

In [12]:
type(True)

bool

In [13]:
# Calculator
print(2 + 3)
print(57 - 40)
print(12 * 60)
print(100 / 60)
print(1.05 ** 10)

5
17
720
1.6666666666666667
1.628894626777442

In [14]:
print((75 - 32) * 5/9)

23.88888888888889

In [15]:
# F-strings
print(f"The temperature 75F in degrees Celsius is {(75-32) * 5/9:.2f} C")

The temperature 75F in degrees Celsius is 23.89 C

In [16]:
print(f"Isabel is {28/7} dog years old.")

Isabel is 4.0 dog years old.

In [17]:
print(f"Isabel is {28/7:.0f} dog years old.")

Isabel is 4 dog years old.

In [18]:
print(f"""
    Most countries use the metric system for recipe measurement, 
    but American bakers use a different system. For example, they use 
    fluid ounces to measure liquids instead of milliliters (ml).
    
    So you need to convert recipe units to your local measuring system!
    
    For example, 8 fluid ounces of milk is {8 * 29.5735} ml.
    And 100ml of water is {100 / 29.5735} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.588 ml.
    And 100ml of water is 3.381405650328842 fluid ounces.

In [19]:
print(f"""
    Most countries use the metric system for recipe measurement, 
    but American bakers use a different system. For example, they use 
    fluid ounces to measure liquids instead of milliliters (ml).
    
    So you need to convert recipe units to your local measuring system!
    
    For example, 8 fluid ounces of milk is {8 * 29.5735:.2f} ml.
    And 100ml of water is {100 / 29.5735:.2f} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.59 ml.
    And 100ml of water is 3.38 fluid ounces.

# Variables

In [21]:
age = 5
print(age)

5

In [22]:
name = "Otto"
gnome_height = 12.7
print(f"Name: {name} \nAge: {age}")

Name: Otto
Age: 5

In [23]:
score = 0
print(score)

score = score + 50
print(score)

0
50

In [24]:
score += 50
print(score)

100

In [25]:
dog_age = 49/7
print(f"""Otto's dog age is {dog_age:.0f}. So a dog that's about
{dog_age:.0f} would be the same age as Otto. Any dog born about {dog_age:.0f}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7. So a dog that's about
7 would be the same age as Otto. Any dog born about 7
years ago would be in the same stage of life as Otto.

In [26]:
dog_age = 56/7
print(f"""Otto's dog age is {dog_age:.0f}. So a dog that's about
{dog_age:.0f} would be the same age as Otto. Any dog born about {dog_age:.0f}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 8. So a dog that's about
8 would be the same age as Otto. Any dog born about 8
years ago would be in the same stage of life as Otto.

In [27]:
name = "Otto Matic"
print(f"""{name}'s dog age is {dog_age:.0f}. So a dog that's about
{dog_age:.0f} would be the same age as {name}. Any dog born about {dog_age:.0f}
years ago would be in the same stage of life as {name}.""")

Otto Matic's dog age is 8. So a dog that's about
8 would be the same age as Otto Matic. Any dog born about 8
years ago would be in the same stage of life as Otto Matic.

In [28]:
# Create two variables, 'countries_visited' and 'countries_to_visit' and assign them the number of
# countries you've been to and the number of countries you hope to visit. Then complete the print statement.
countries_visited = 4
countries_to_visit = 10

print(f"""I have visited {countries_visited} countries. I plan to visit {countries_to_visit} more countries, 
and when I'm done I will have visited {countries_visited + countries_to_visit} countries.""")

I have visited 4 countries. I plan to visit 10 more countries,
and when I'm done I will have visited 14 countries.

In [31]:
drivers = "unicorn"
drivers_vehicle = "colorful, asymmetric dinosaur car"
favorite_planet = "Pluto"

In [41]:
print(f"""Write me a 300 word children's story about a {drivers} racing a {drivers_vehicle} for the {favorite_planet} champion cup.""")

Write me a 300 word children's story about a unicorn racing a colorful, asymmetric dinosaur car for the Pluto champion cup.

# Functions

In [47]:
print(len("Hello World!"))

12

In [59]:
print(round(42.17, 1))

42.2

In [63]:
print(f"The rounded number of 42.17 to 1 decimal place is {round(42.1, 1)}")

The rounded number of 42.17 to 1 decimal place is 42.1

In [65]:
string_length = len("Hello World!")
print(string_length)

12

In [69]:
name = "Tommy"
potatoes = 4.75
prompt = f"""Write a couplet about my friend {name} who has about {round(potatoes)} potatoes"""
print(prompt)

Write a couplet about my friend Tommy who has about 5 potatoes